VITE_HUME_API_KEY="AsXjOv5QplL9BRsGiW2u5EtHmspALxKWto6GHW0QWpm7Ea9H"
VITE_HUME_SECRET_KEY="GyHkghvn8wWGHRh08KVXYq9GKv3p2b6f74E6CcKGEYBeAHQ0ofT5pEVT5h6NxZLn"
VITE_HUME_CONFIG_ID="30f4d010-7252-4778-bc5f-1e1de72b3e76"
